/bin/

dataset/yahoo/desktop\.ini

dataset/washpost/desktop\.ini

dataset/verge/desktop\.ini

dataset/nytimes/desktop\.ini

dataset/huffpost/desktop\.ini

dataset/fox/desktop\.ini

dataset/cnn/desktop\.ini

dataset/cbs/desktop\.ini

dataset/bbc/desktop\.ini

dataset/abc/desktop\.ini

\.classpath

\.project
